In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import pandas as pd
import zipfile

In [2]:
options = webdriver.EdgeOptions()
options.add_argument('--start-maximized')

driver_path = 'C:\\Users\\gusti\\Downloads\\edgedriver_win64\\msedgedriver.exe'

driver = webdriver.Edge(options=options)

In [3]:
driver.get('https://cde.ucr.cjis.gov/LATEST/webapp/#/pages/home')

In [4]:
documents_downloads = driver.find_element(By.LINK_TEXT, "Documents & Downloads")
documents_downloads.click()

In [5]:
button_table = driver.find_element(By.ID,"dwnnibrs-download-select")

button_table.click()

In [6]:
button_victims = driver.find_element(By.ID,"nb-option-71")

button_victims.click()

In [7]:
button_location = driver.find_element(By.ID,"dwnnibrsloc-select")

button_location.click()

In [8]:
time.sleep(2)

In [9]:
button_florida = driver.find_element(By.XPATH,"//nb-option[contains(text(),'Florida')]")

button_florida.click()

In [10]:
button_download = driver.find_element(By.ID,"nibrs-download-button")

button_download.click()

In [11]:

route_zip = 'C:\\Users\\gusti\\Downloads\\victims.zip'


excel_file = 'Victims_Age_by_Offense_Category_2022.xlsx'


with zipfile.ZipFile(route_zip, 'r') as zip_ref:
    with zip_ref.open(excel_file) as file:
        df = pd.read_excel(file,header=None)

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Victims,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by Offense Category, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Offense Category,Total\nVictims1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10 and\nUnder,11−15,16−20,21−25,26−30,31−35,36−40,41−45,46−50,51−55,56−60,61−65,66 and\nOver,Unknown\nAge
5,Total,9715061,161808,313727,642246,1055358,1136941,1132001,1001060,848189,703884,654694,598804,479802,835611,150936
6,Crimes Against Persons,3456189,145725,272605,346638,420370,436189,423128,354483,277881,207148,175579,143857,96851,113436,42299
7,Assault Offenses,3187575,104040,210017,300568,393342,414940,404453,339714,267251,199850,170264,139937,94304,109263,39632
8,Homicide Offenses,18785,702,473,2468,2597,2534,2332,1847,1427,1062,874,744,570,945,210
9,Human Trafficking Offenses,2691,102,588,712,338,228,185,144,83,47,36,24,3,11,190
10,Kidnapping/Abduction,43083,4289,2627,4797,6442,6088,5526,4346,3078,1950,1397,903,543,782,315
11,Sex Offenses,204055,36592,58900,38093,17651,12399,10632,8432,6042,4239,3008,2249,1431,2435,1952
12,Crimes Against Property,6258872,16083,41122,295608,634988,700752,708873,646577,570308,496736,479115,454947,382951,722175,108637
13,Arson,22853,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731,1311
14,Bribery,515,9,26,60,72,73,77,39,41,36,14,13,7,11,37
15,Burglary/Breaking & Entering,578164,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290,8404
16,Counterfeiting/Forgery,78480,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337,2787
17,Destruction/Damage/Vandalism,1225891,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564,19731
18,Embezzlement,8800,9,16,197,372,608,708,791,828,722,805,778,733,1952,281
19,Extortion/Blackmail,20608,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852,97
20,Fraud Offenses,753459,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392,13990
21,Larceny/Theft Offenses,2619852,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957,38386
22,Motor Vehicle Theft,676806,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149,10288
23,Robbery,168132,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675,1258
24,Stolen Property Offenses,105312,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265,12067
25,1This table includes only data for the victim ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.replace('\n', ' ', regex=True, inplace=True)
df.replace('−', ' to ', regex=True, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Victims,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by Offense Category, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Offense Category,Total Victims1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10 and Under,11 to 15,16 to 20,21 to 25,26 to 30,31 to 35,36 to 40,41 to 45,46 to 50,51 to 55,56 to 60,61 to 65,66 and Over,Unknown Age
5,Total,9715061,161808,313727,642246,1055358,1136941,1132001,1001060,848189,703884,654694,598804,479802,835611,150936
6,Crimes Against Persons,3456189,145725,272605,346638,420370,436189,423128,354483,277881,207148,175579,143857,96851,113436,42299
7,Assault Offenses,3187575,104040,210017,300568,393342,414940,404453,339714,267251,199850,170264,139937,94304,109263,39632
8,Homicide Offenses,18785,702,473,2468,2597,2534,2332,1847,1427,1062,874,744,570,945,210
9,Human Trafficking Offenses,2691,102,588,712,338,228,185,144,83,47,36,24,3,11,190
10,Kidnapping/Abduction,43083,4289,2627,4797,6442,6088,5526,4346,3078,1950,1397,903,543,782,315
11,Sex Offenses,204055,36592,58900,38093,17651,12399,10632,8432,6042,4239,3008,2249,1431,2435,1952
12,Crimes Against Property,6258872,16083,41122,295608,634988,700752,708873,646577,570308,496736,479115,454947,382951,722175,108637
13,Arson,22853,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731,1311
14,Bribery,515,9,26,60,72,73,77,39,41,36,14,13,7,11,37
15,Burglary/Breaking & Entering,578164,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290,8404
16,Counterfeiting/Forgery,78480,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337,2787
17,Destruction/Damage/Vandalism,1225891,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564,19731
18,Embezzlement,8800,9,16,197,372,608,708,791,828,722,805,778,733,1952,281
19,Extortion/Blackmail,20608,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852,97
20,Fraud Offenses,753459,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392,13990
21,Larceny/Theft Offenses,2619852,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957,38386
22,Motor Vehicle Theft,676806,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149,10288
23,Robbery,168132,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675,1258
24,Stolen Property Offenses,105312,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265,12067
25,1This table includes only data for the victim ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_index_title = df.iloc[3:4, 0].reset_index(drop=True)
df_index = df.iloc[13:25, 0].reset_index(drop=True)
column_to_list = df_index.tolist()

In [15]:
column_to_list

['Arson',
 'Bribery',
 'Burglary/Breaking & Entering',
 'Counterfeiting/Forgery',
 'Destruction/Damage/Vandalism',
 'Embezzlement',
 'Extortion/Blackmail',
 'Fraud Offenses',
 'Larceny/Theft Offenses',
 'Motor Vehicle Theft',
 'Robbery',
 'Stolen Property Offenses']

In [16]:

df_index

0                            Arson
1                          Bribery
2     Burglary/Breaking & Entering
3           Counterfeiting/Forgery
4     Destruction/Damage/Vandalism
5                     Embezzlement
6              Extortion/Blackmail
7                   Fraud Offenses
8           Larceny/Theft Offenses
9              Motor Vehicle Theft
10                         Robbery
11        Stolen Property Offenses
Name: 0, dtype: object

In [17]:
category_column = df_index_title[0]

In [18]:
df_headers = df.iloc[4:5, 2:15].reset_index(drop=True)
df_registers = df.iloc[13:25, 2:15].reset_index(drop=True)
df_col2 = pd.concat([df_headers, df_registers])
df_col2.columns = df_col2.iloc[0]  # Usa la fila 5 como nombres de columnas
df_col2 = df_col2.iloc[1:]  # Elimina la fila 5 del DataFrame

In [19]:

df_col2

,10 and Under,11 to 15,16 to 20,21 to 25,26 to 30,31 to 35,36 to 40,41 to 45,46 to 50,51 to 55,56 to 60,61 to 65,66 and Over
0,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731
1,9,26,60,72,73,77,39,41,36,14,13,7,11
2,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290
3,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337
4,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564
5,9,16,197,372,608,708,791,828,722,805,778,733,1952
6,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852
7,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392
8,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957
9,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149
10,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675
11,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265

In [20]:
df_headers

,2,3,4,5,6,7,8,9,10,11,12,13,14
0,10 and Under,11 to 15,16 to 20,21 to 25,26 to 30,31 to 35,36 to 40,41 to 45,46 to 50,51 to 55,56 to 60,61 to 65,66 and Over

In [21]:
df_registers

,2,3,4,5,6,7,8,9,10,11,12,13,14
0,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731
1,9,26,60,72,73,77,39,41,36,14,13,7,11
2,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290
3,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337
4,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564
5,9,16,197,372,608,708,791,828,722,805,778,733,1952
6,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852
7,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392
8,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957
9,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149
10,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675
11,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265

In [22]:
df_col2.insert(0,category_column, column_to_list)
df_col2

,Offense Category,10 and Under,11 to 15,16 to 20,21 to 25,26 to 30,31 to 35,36 to 40,41 to 45,46 to 50,51 to 55,56 to 60,61 to 65,66 and Over
0,Arson,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731
1,Bribery,9,26,60,72,73,77,39,41,36,14,13,7,11
2,Burglary/Breaking & Entering,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290
3,Counterfeiting/Forgery,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337
4,Destruction/Damage/Vandalism,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564
5,Embezzlement,9,16,197,372,608,708,791,828,722,805,778,733,1952
6,Extortion/Blackmail,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852
7,Fraud Offenses,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392
8,Larceny/Theft Offenses,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957
9,Motor Vehicle Theft,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149
10,Robbery,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675
11,Stolen Property Offenses,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265

In [23]:
df_col2.to_csv('crimes_against_property.csv', index=False)